# editorconfig.org    #代表注释,怎么把单词存到字典里?

root = true

[*]
charset = utf-8
indent_size = 4
indent_style=space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
